
<h2>Name: "Tecnologico de la Gustavo A Madero"</h2>
<h2>Description: "El Instituto fue creado para formar profesionistas capaces de enlazar exitosamente a México con el mundo, a fin de propiciar el desarrollo tecnológico en distintas áreas en beneficio del ser humano."</h2>
<h2>Mission: "Formar con responsabilidad y excelencia a profesionales capaces de enfrentar y resolver los retos que se presentan en el ámbito nacional e internacional."</h2>
<h2>Values: " *Respeto, Liderazgo, Perseverancia, Responsabilidad"</h2>

<img src="" alt="" srcset="">
